@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
  --color-secondary: #14b8a6;
  --color-background: #f9fafb;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: #111827; /* gray-900 */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
